body{
    background-color: white;
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.drak{
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#diskon{
    padding: 5px;
    color: black;
}
#diskon table{
    background-color: dimgray;
}

form{
    padding-top: 10px;
    padding-bottom: 10px;
}

fieldset{
    border-color: black;
    vertical-align: middle;
    background-color: aquamarine;
}

legend{
    background-color: darkslategrey;
    color: aliceblue;
    padding: 5;
}

/* Button */
.button_1{
    background-color: skyblue;
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    border-style: groove;
}

.button_1:hover{
    background-color: aliceblue;
    color: red;
    transition: 0.5s;
}

/*Header*/
header{
    background-color: darkslategray;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header span{
    color: orangered;
}

header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header ul{
    margin: 0;
    padding: 0;
}

header #branding{
    float: left;
}

header #branding h1{
    float: right;
    margin-top: 10px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .ini a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Login */
#login{
    padding-top: 20px;
}

/* nick */
.nick{
    text-align: right;
    font-size: 15;
    font-weight: bold;
}

/* Footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
